.navigation {
  margin-bottom: 5%;
  padding: 0;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.appbar {
  background-color: black;
  height: 13vh;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 70%;
}

.li {
  display: inline;
  padding-left: 3%;
}

.link {
  padding-left: 3%;
  text-decoration: none;
  color: white;
}
